<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar>
    <div class="brand">
        To Do
    </div>
    <div class="search">
        <form class="searchform">
            <div class="input-box-container">

                <div class="input-box">
                    <input>
                </div>
                <div class="btndiv">
                    <button type="submit" class="material-icons">search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="rest">
        <button class="material-icons" [matMenuTriggerFor]="menu">account_box</button>
        <mat-menu #menu="matMenu">
            <button class="menu-btn" mat-stroked-button (click)="logout()">LogOut</button>
        </mat-menu>
    </div>
</mat-toolbar>