mat-toolbar {
  height: 52px;
  background-color: rgb(0,120,215);
}

.brand {
  width: 10%;
  color: white;
  cursor: pointer;
}

.search {
  width: 80%;
  display: flex;
  justify-content: center;
}

.searchform {
  display: flex;
  width: 50%;
}

.input-box-container {
  width: 100%;
  display: flex;
  height: 35px;
  background-color: rgb(195, 221, 247);
  border-radius: 4px;
}

.input-box-container:hover {
  background-color: white;
}
input{
  
}
.input-box-container input {
  width: 100%;
  height: 32px;
  padding: 0px;
  padding-left: 4px;
  color: black;
  font-size: 18px;
  width: 100%;
  background-color: rgba(195, 221, 247, 0);
  border: none;
  border-right: 0px;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-box-container input:focus {
  outline: none;
}

.search button {
  width: 100%;
  height: 35px;
  text-align: left;
  background-color: rgba(195, 221, 247, 0);
  border: none;
  border-left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search button:focus {
  outline: none;
}

.btndiv {
  padding-top: 0px;
}

.input-box {
  width: 100%;
  height: 32px;
}
*, *::before, *::after {
  box-sizing: unset;
}
.rest {
  width: 10%;
  text-align: right;
}

.rest button {
  padding-top: 8px;
  background-color: rgba(195, 221, 247, 0);
  border: none;
  font-size: 36px;
}
.rest .material-icons{}
@media screen and (max-width: 320px) {
  .search {
    width: 200px;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .search {
    width: 220px;
    margin-left: 2rem;
  }
  .searchform{
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .search {
    width: 240px;
    margin-left: 2rem;
  }
  .searchform{
    width: 100%;
  }
  .rest {
    margin-left: .2rem;
  }
}

@media screen and (max-width: 414px) {
  .search {
    width: 300px;
    margin-left: 1.5rem;
  }
  .searchform{
    width: 100%;
  }
  .rest {
    margin-left: .2rem;
  }
}