<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
<div class="spinner-container" *ngIf="isLoading">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div class=" main container-fluid" id="main">
    <div class="blur">
        <div class="row d-flex justify-content-center">
            <mat-card class="col col-md-4 col-xs-4 col-xl-4 col-sm-4 col-lg-4 child ">
                <div *ngIf="mode === 'create'|| mode === 'edit' || mode === 'reset'">
                    <div class="heading">
                        To Do
                    </div>
                    <p class="h2">SignUp</p>
                    <form name="signupform" #signupform="ngForm" (submit)="signup(signupform)" class="form">
                        <mat-form-field appearance="outline" class="formfield">
                            <mat-label>Name</mat-label>
                            <input matInput name="name" [(ngModel)]='name' #nameerr="ngModel" type="text" required
                                minlength=3 placeholder="eg:- John Doe">
                            <mat-error *ngIf="nameerr.invalid">Enter a valid name</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="formfield">
                            <mat-label>Email</mat-label>
                            <input matInput name="email" type="email" required [(ngModel)]='email' #emailerr="ngModel"
                                placeholder="e.g:- johndoe@gmail.com" required>
                            <mat-error *ngIf="emailerr.invalid">Please Enter a valid email</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline" class="formfield" *ngIf="mode === 'create'">
                            <mat-label>Password</mat-label>
                            <input type="password" name="password" [disabled]='disabeled' ngModel #password="ngModel"
                                required matInput>
                            <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="formfield" *ngIf="mode === 'edit'">
                            <mat-label>Password</mat-label>
                            <input type="password" [disabled]="true" matInput>

                        </mat-form-field>
                        <mat-form-field appearance='fill' class="formfield">
                            <mat-label>Select Secret Question</mat-label>
                            <mat-select [formControl]="question" required>
                                <mat-option *ngFor="let que of questions" [value]="que">
                                    {{que}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="question.hasError('required')">Please choose a question</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="formfield">
                            <mat-label>Your Answer</mat-label>
                            <input type="text" minlength="3" name="quest" required ngModel #quest="ngModel" matInput>
                            <mat-error *ngIf="quest.invalid">Please answer the question</mat-error>
                        </mat-form-field>
                        <button class="loginbutton" mat-raised-button type="submit"
                            *ngIf="mode === 'reset'">Verify</button>
                        <button class="loginbutton" mat-raised-button type="submit"
                            *ngIf="mode === 'create'">SignUp</button>
                        <button class="loginbutton" mat-raised-button type="submit" *ngIf="mode === 'edit'">Save
                            Changes</button>
                    </form>
                    <div *ngIf="mode === 'create'">
                        <hr>
                        <p class="h6">Already a User ?</p>
                        <button mat-raised-button routerLink="/">Login</button>
                    </div>
                </div>
                <div *ngIf="mode === 'change'">
                    <form name="resetform" #resetform="ngForm" (submit)="resetpassword(resetform)">
                        <mat-form-field appearance="outline" class="formfield">
                            <mat-label>New Password</mat-label>
                            <input matInput name="newpass" ngModel #nameerr="ngModel" type="text" required
                                minlength=8 placeholder="minimum 8 characters">
                            <mat-error *ngIf="nameerr.invalid">Enter a valid password</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="formfield">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput name="confirm" ngModel #confirmeerr="ngModel" type="text" required
                                minlength=8 placeholder="minimum 8 characters">
                            <mat-error *ngIf="nameerr.invalid">Enter a valid password</mat-error>
                            
                        </mat-form-field>
                        <button class="loginbutton" mat-raised-button type="submit">Change Password</button>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>


</div>