<div class="nav-list">
    <mat-selection-list [multiple]="false">
        <div class="list-item">
            <mat-list-option>
                <mat-icon matListIcon class="material-icons">wb_sunny</mat-icon>
                <p matLine> My Day </p>

            </mat-list-option>
        </div>

        <div class="list-item">
            <mat-list-option>
                <mat-icon matListIcon class="material-icons">star_outline</mat-icon>
                <p matLine>Important</p>

            </mat-list-option>
        </div>
        <div class="list-item">
            <mat-list-option>
                <mat-icon matListIcon class="material-icons">home</mat-icon>
                <p matLine> Tasks</p>

            </mat-list-option>
        </div>

    </mat-selection-list>
</div>