<div class="tasks">
    <div class="pending-list">
        <div class="pending wrapper" *ngFor="let task of tasks">
            <div class="pending-task" *ngIf="!task.status">
                <div class="pending-task-item">
                    <mat-icon class="leftbtn" (click)='completeTask(task)'></mat-icon>
                    <p style="font-size: 18px;">{{task.task}} </p>
                    <mat-icon class="rightbtn" *ngIf="!task.important" (click)="markImortant(task)"></mat-icon>
                    <mat-icon class="rightbtn-imp" *ngIf="task.important" (click)="markImortant(task)"></mat-icon>
                </div>
            </div>
        </div>

        <div class="completed-header" *ngIf="showcompletedheader">
            <div class='icon-holder'>
                <mat-icon id="arrow" (click)='showcompletedtask()'>keyboard_arrow_right</mat-icon>
            </div>
            
            <h2>Completed</h2>
        </div>
        <div class="completed-list" *ngIf="show">
            <div class="completed-wrapper"*ngFor="let task of tasks">
                <div class="completed-task"  *ngIf="task.status">
                    <div class="completed-task-item">
                        <mat-icon class="leftbtn" (click)='completeTask(task)'></mat-icon>
                        <p style="font-size: 18px;">{{task.task}} </p>
                        <mat-icon class="rightbtn" *ngIf="!task.important" (click)="markImortant(task)"></mat-icon>
                        <mat-icon class="rightbtn-imp" *ngIf="task.important" (click)="markImortant(task)"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>